<div class="animated fadeIn">

  <div class="container-fluid">
    <div class="row">
        <div class="col-md-6">

          <div class="card">
            <div class="card-header">
              <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                  <a class="nav-link active" href="#">Parameters</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link disabled" href="#">Progress</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link disabled" href="#">Results</a>
                </li>
              </ul>
            </div>
            <div class="card-block">

              <h4 class="card-title">Product Changeover</h4>
              <h6 class="card-subtitle mb-2 text-muted">Parameter selection</h6>
              <p class="card-text">Determine process time for product changeover.</p>

              <case-assemble></case-assemble>

            </div>
          </div>

        </div>
        <div class="col-md-6"><case-feedback></case-feedback></div>
    </div>
  </div>
</div>
