<nz-input-group nzAddOnBeforeIcon="anticon anticon-search">
  <input nz-input [(ngModel)]="q" (focus)="qFocus()" (blur)="qBlur()" (ngModelChange)="onSearch(q)" [placeholder]="'top-search-ph' | translate"
    [nzAutocomplete]="auto" (keydown.enter)="onSelect($event.target.value)">
  <nz-autocomplete nzBackfill #auto>
    <nz-auto-optgroup [nzLabel]="groupTitle">
      <ng-template #groupTitle>
        <span>Simulations</span>
      </ng-template>
      <nz-auto-option *ngFor="let job of searchResults" [nzLabel]="job.name" [nzValue]="option" routerLink="/simulations/configure/{{job.id}}">
        <div *ngIf="job.status=='Not Started'">
          {{job.name}}
          <span>
            <nz-tag>{{job.status}}</nz-tag>
          </span>
        </div>
      </nz-auto-option>
    </nz-auto-optgroup>
  </nz-autocomplete>
</nz-input-group>