<nz-list [nzLoading]="false" [nzDataSource]="caseSummaries" [nzRenderItem]="item" [nzGrid]="{gutter: 24, lg: 8, md: 12, sm: 24, xs: 24 }">
  <ng-template #item let-item>
    <nz-list-item>
      <nz-card [nzBordered]="true" nzHoverable *ngIf="item !== null" [nzActions]="[op1]" [routerLink]="['/simulations/create', item.id]"
        routerLinkActive="active">
        <ng-template #op1>
          <a [routerLink]="['/simulations/create', item.id]" routerLinkActive="active"><i class="anticon anticon-form"></i>
            Create</a>
        </ng-template>
        <nz-card-meta [nzAvatar]="nzAvatar" [nzTitle]="nzTitle" [nzDescription]="nzDescription">
          <ng-template #nzAvatar>
            <nz-avatar nzSize="large" [nzSrc]="item.thumbnail"></nz-avatar>
          </ng-template>
          <ng-template #nzTitle>
            <a [routerLink]="['/simulations/create', item.id]" routerLinkActive="active">{{item.name}}</a>
          </ng-template>
          <ng-template #nzDescription>
            <ellipsis>{{item.description}}</ellipsis>
          </ng-template>
        </nz-card-meta>
      </nz-card>
    </nz-list-item>
  </ng-template>
</nz-list>