<form nz-form>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>Name</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <input nz-input placeholder="{{job?.name}}" (keyup)="updateName($event.target.value)">
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>Description</nz-form-label>
    <nz-form-control [nzSpan]="14" >
      <textarea nz-input rows="2" placeholder="{{job?.description}}" (keyup)="updateDescription($event.target.value)"></textarea>
    </nz-form-control>
  </nz-form-item>
</form>

<div *ngFor="let field of job?.parent_case?.fields">
  <sim-field [field]=field (update)="updateValue($event)"></sim-field>
</div>


