<!-- {{ metrics | json }} -->
<!-- {{ data | json }} -->

<!-- <g2-timeline [data]="metrics.data" [height]="239" [padding]="[0, 0, 0, 0]" [titleMap]="{ y1: 'x variable', y2: 'y variable' }"></g2-timeline> -->
<!-- <g2-timeline [data]="data" [height]="239" [padding]="[0, 0, 0, 0]"></g2-timeline> -->

<!-- <nz-card>
    <g2-timeline [data]="offlineChartData" [height]="239" [padding]="[0, 0, 0, 0]" [titleMap]="{ y1: 'x variable', y2: 'y variable' }"></g2-timeline>
</nz-card> -->





<g2-chart (render)="render($event)"></g2-chart>
