.btn-config.selected {
    color: white;
    background-color:#ed5565;
}

.btn-config {
    color: darkslategrey;
    background-color:whitesmoke;
    border:#ed5565;
}

.irs-line.config {
    background-color: darkgray
}
