<div class="container">
  <div class="wrap">
    <div class="top">
      <div class="head">
        <img class="logo" src="./assets/logo-color.svg">
        <span class="title">Simulate</span>
      </div>
      <div class="desc">Deploy R&D simulations in the cloud!</div>
    </div>
    <router-outlet></router-outlet>
    <global-footer [links]="links">
      Copyright
      <i class="anticon anticon-copyright"></i> 2018
      <a href="//imperial.ac.uk" target="_blank">Imperial College London</a> &
      <a href="//turing.ac.uk" target="_blank">The Alan Turing Institute</a>
    </global-footer>
  </div>
</div>

