<header class="app-header navbar">
  <button class="navbar-toggler mobile-sidebar-toggler hidden-lg-up" type="button">&#9776;</button>
  <a class="navbar-brand" href="#"></a>
  <ul class="nav navbar-nav hidden-md-down">
    <li class="nav-item">
      <a class="nav-link navbar-toggler sidebar-toggler" href="#">&#9776;</a>
    </li>
  </ul>
</header>

<div class="app-body" style="overflow-y: hidden; max-height:90vh">
  <div class="sidebar">
    <nav class="sidebar-nav">
      <ul class="nav">
        <li class="nav-item"><a class="nav-link" routerLinkActive="active" [routerLink]="['/account']"><i class="icon-user"></i> Account </a></li>
        <li class="nav-item"><a class="nav-link" routerLinkActive="active" [routerLink]="['/dashboard']"><i class="icon-speedometer"></i> Dashboard </a></li>
        <li class="nav-item"><a class="nav-link" routerLinkActive="active" [routerLink]="['/cases']"><i class="icon-puzzle"></i> Cases </a></li>
      </ul>
    </nav>
  </div>

  <!-- Main content -->
  <main class="main" style="overflow-y: visible; max-height:85vh">

    <!-- Breadcrumb -->
    <ol class="breadcrumb" style="overflow-y: visible; max-height:5vh">
      <breadcrumbs></breadcrumbs>
    </ol>

    <div class="container-fluid" style="overflow-y: scroll; max-height:80vh" >
      <router-outlet></router-outlet>
    </div>
  </main>
</div>

<footer class="app-footer" style="overflow-y: hidden; max-height:5vh">
  <a href="http://coreui.io">CoreUI</a> &copy; 2017 creativeLabs.
  <span class="float-right">Powered by <a href="http://coreui.io">CoreUI</a>
    </span>
</footer>
