<header class="app-header navbar">
    <button class="navbar-toggler mobile-sidebar-toggler hidden-lg-up" type="button">&#9776;</button>
    <img src="../../assets/img/water_tap.png" class="img-icon">
    <ul class="nav navbar-nav hidden-md-down">
      <li class="nav-item">
        <a class="nav-link navbar-toggler sidebar-toggler" href="#">&#9776;</a>
      </li>
    </ul> 
   <span class="float-right" style="min-width:80%"> 
      <img src="../../assets/img/ati.png" class="img-institute">
      <img src="../../assets/img/ucl.png" class="img-institute">
      <img src="../../assets/img/imperial.png" class="img-institute">
   </span>
</header>

<div class="app-body" style="overflow-y: hidden; max-height:95vh">
  <div class="sidebar">
    <nav class="sidebar-nav">
      <ul class="nav">
        <li class="nav-item"><a class="nav-link" routerLinkActive="active" [routerLink]="['/account']"><i class="icon-user"></i> Account </a></li>
        <li class="nav-item"><a class="nav-link" routerLinkActive="active" [routerLink]="['/dashboard']"><i class="icon-speedometer"></i> Dashboard </a></li>
        <li class="nav-item"><a class="nav-link" routerLinkActive="active" [routerLink]="['/cases']"><i class="icon-puzzle"></i> Cases </a></li>
      </ul>
    </nav>
  </div>

  <!-- Main content -->
  <main class="main" style="overflow-y: visible; max-height:95vh">

    <!-- Breadcrumb -->
    <ol class="breadcrumb" style="overflow-y: visible; max-height:5vh">
      <breadcrumbs></breadcrumbs>
    </ol>

    <div class="container-fluid" style="overflow-y: scroll; max-height:80vh" >
      <router-outlet></router-outlet>
    </div>
  </main>
</div>

<footer class="app-footer" style="overflow-y: hidden; max-height:1vh">
  <a href="">Code Blue</a> &copy; 2017
</footer>
