<div class="case-card">
	<div class="row">
		<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
			<img src={{info.thumbnail}} class="job-image">
		</div>
		<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
			<div class="row">
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
					<a routerLinkActive="active" [routerLink]="['/config/config']" (click)="storeCaseType()" class="nav-link">
						<span class="nav-text">{{info.name}} </span>
					</a>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
				</div>
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
				</div>
			</div>

			<div class="row">
				<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
					<p class="p5">{{shortDescription}}</p>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 action-row">
					<button type="button" style="float:right" class="btn btn-outline btn-sm" (click)="storeCaseType()" [routerLink]="['/config/config']"
					 routerLinkActive="active">
						<span class="actionText">Create</span>
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
<hr>