<div class="card card-case">
    <div class="card-header" >
        <div class="container-fluid card-block-container">
            <div class="row">
                <div class="col-md-6">
                    <strong>{{info.label}}</strong>
                </div>
            </div>
        </div>
    </div>
    <div class="card-block">
        <div class="container-fluid card-block-container">
            <a routerLinkActive = "active" [routerLink] = "['/config/config']" (click)="storeCaseType()">
            <div class="row">
                <div class="col-md-2"><img src={{info.thumbnail}}  class="img-case"></div>  
                <div class="col-md-7">
                    <p class="descriptionText break-word ">{{getShortDescription()}} (...) 
                    </p>
                </div>
                <div class="col-md-3">
                <button type="button" class="btn btn-primary">Template</button>
                </div>
            </div>
            </a>
        </div>
    </div>
</div>

<!-- <div class="card card-case">
        <div class="card-header case">
            <span class="badge">
                <i class="icon-puzzle fa-lg badge-puzzle"></i> 
            </span>
            <strong>{{info.label}}</strong>
        </div>
        <a routerLinkActive = "active" [routerLink] = "['/config/config']">
          <div class="wrapper">
            <img class="card-img-top img-case" src="{{info.thumbnail}}"
              (mouseover)='setCaseHoverHidden()'
              (mouseleave)='setCaseHoverHidden()'>
            <i class="fa fa-sign-in fa-2x" [hidden]=caseHoverHidden></i> 
          </div>
        </a>
        <div class="card-block">
          <p class="card-text break-word">{{getShortDescription()}} 
            <a routerLinkActive = "active" [routerLink] = "['/config/config']"
            (click)="storeCaseType()">(...)</a>
          </p>
          <p><button type="button" class="btn btn-primary">Details</button></p>
        </div>
    </div> -->