/* .container-scroll  {
    overflow-y: scroll;
    max-height: 70vh;
} */

.img-icon {
    height:4vh;
    padding-left: 2vh;
    padding-right: 2vh;
    padding-top: 1vh; 
}

.img-institute {
    height:2.5vh;
    /* padding-left: 2%; */
    padding-right: 0vh;
     /* margin-top: 0.5vh;   */
     background: transparent;
}

