<div class="login-wrapper">
    <form (ngSubmit)="onLogin()" class="login" novalidate>
        <label class="title">
            <h3 class="welcome">Welcome to</h3>
            BEMPP Gateway
            <h5 class="hint">Please sign in </h5>
        </label>
        <div class="login-group">

            <input class="username" type="text" id="username" placeholder="enter username" [(ngModel)]="user.username" name="username" required>
            <input class="password" type="password" id="password" placeholder="enter password" [(ngModel)]="user.password" name="password" required>

            <button type="submit" class="btn btn-primary">NEXT</button>

        </div>
    </form>
</div>
