<div class="animated fadeIn">
  <div *ngIf="haveData==true">
    <div class='container-fluid'>
      <div class="row">
        <div class="col-md-12">
            <tabset style="width:100%">

              <tab heading={{case.label}}>
                <div class="row">
                  <div class="col-md-2">
                    <img src={{case.thumbnail}} class=img-job>
                  </div>
                <div class="col-md-10">
                  <p class="descriptionText">{{case.description}}</p>
                </div>
                </div>
              </tab>

              <tab heading={{job.name}}>
                <div class="row">
                  <div class="col-md-2">
                    <img src={{case.thumbnail}} class=img-job>
                  </div>
                <div class="col-md-10">
                  <p class="descriptionText">{{job.description}}</p>
                </div>
                </div>
              </tab>

              <tab heading="Job Information">
                <div class="row">
                  <div class="col-md-2">
                    <img src={{case.thumbnail}} class=img-job>
                  </div>
                <div class="col-md-10">
                  <p class="descriptionText">Status: {{job.status}}</p>
                  <p class="descriptionText">Start: {{job.start_datetime}} </p>
                  <p class="descriptionText">End: {{job.start_datetime}}</p>
                </div>
                </div>
            </tab>

          </tabset>
        </div>
      </div>

      <p></p>

      <div *ngIf="status=='Complete' || status=='Running'">
        <div class = "card" >
          <div class="card-header" (click)="graphCollapse()">
            <strong>Output graph</strong>
          </div>
          <div [ngClass] = "{'collapse': graph.collapse}">
            <chart></chart>
          </div>
        </div>
      </div>

      <div class="card-header" (click)="configCollapse()">
        <strong>Configuration</strong>
      </div>
      <div class = "card">
        <div [ngClass] = "{'collapse':config.collapse}" >
          <p></p>
          <config [type]='type' ></config>
        </div>
      </div>

    </div>
  </div>
</div>
