/*input[readonly] {
  background-color: white;
}*/
/* 
.card-header:hover {
  background-color: hsla(198,36%,75%,1);
}

.card-header {
  background-color: #cfd8dc;
}


.downloads {
  width: 14em;
} */

.category-header{
  background-color:#edeff1; 
  border-bottom: 1px solid #cfd8dc;
}