input[readonly] {
  background-color: white;
}

.card-header:hover {
<<<<<<< HEAD
  background-color: hsla(198,36%,75%,1);}
=======
  background-color: #c6c7c7;
}
>>>>>>> ce46aec2f1a981a04dc78948b292ee36dc696e21

.card-header {
  background-color: #cfd8dc;
}
