
<div class="animated fadeIn">
  <div class='container-fluid' >
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="card">  
              <div class="category-header card-header">{{job?.name}}</div>
              <div class="card-block">
                  <div class="card-media-block">
                      <img src={{job?.parent_case.thumbnail}} class="card-media-image">
                      <div class="card-media-description">
                        <span class="card-media-title">{{job?.parent_case.name}}</span>
                        <span class="card-media-text">{{job?.parent_case.description}}</span>
                      </div>
                  </div>
                  <div class="card-text">{{job?.description}}</div>
              </div>
              <div class="card-footer">
                <clr-dropdown>
                    <button type="button" class="btn btn-outline-primary" clrDropdownTrigger>
                        Download
                        <clr-icon shape="caret down"></clr-icon>
                    </button>
                    <clr-dropdown-menu clrPosition="top-right" *clrIfOpen>
                        <div *ngFor="let output of job?.outputs">
                            <output-download [data]="output"></output-download>
                          </div>

                    </clr-dropdown-menu>
                </clr-dropdown>
              </div>
          </div>
      </div>
    </div>

    

    <div class="row">  
      <div class = "card" >
        <div class="category-header card-header">Parameters </div>
        <div class="card-block">
            <job-parameters [parameters]="flatParametersList"></job-parameters>
        </div>
      </div>
    </div>  

  </div>
</div>

<!-- old output -->
<!-- <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class = "card" >
          <div class="category-header card-header">Diagnostics</div>
          <div class="card-block"><chart></chart></div>
        </div>
      </div>
    </div> -->

    <!-- <div class="row">
      <div *ngIf="status=='Complete'" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">    
        <div *ngFor="let output of job.outputs">
          <div *ngIf="output.type =='video'">
            <div class="card" >
              <div class="category-header card-header">Videos</div>
              <div>
                <app-video [videoUrl]='output.destination_path'></app-video>
              </div>
            </div>
          </div>
          
          <div *ngIf="output.type =='interface'">
            <div class = "card" >
              <div class="category-header card-header">
                <strong>Interface snapshot</strong>
              </div>
              <div>
                <app-interface [interfaceUrl]='output.destination_path'></app-interface>
              </div>
            </div>
          </div>  
        </div>
      </div>

      
    </div>   -->

                            <!-- <output-download [data]="job?.outputs"></output-download> -->
