
<div class="app-body main-container">
    <header class="header-6">
        <div class="branding">
            <span class="title">Code <span class="icon">Blue</span></span>
        </div>
        <div class="header-nav">
            <a routerLinkActive="active" [routerLink]="['/dashboard']" class="nav-link"><span class="nav-text">Dashboard</span></a>
            <a routerLinkActive="active" [routerLink]="['/cases']" class="nav-link"><span class="nav-text">New</span></a>
        </div>
        <div class="header-actions">
            <clr-dropdown>
                <button class="nav-icon" clrDropdownTrigger>
                    <clr-icon shape="user"></clr-icon>
                    <clr-icon shape="caret down"></clr-icon>
                </button>
                <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
                    <a routerLinkActive="active" [routerLink]="['/account']" clrDropdownItem>Account</a>
                    <a href="..." clrDropdownItem>Preferences</a>
                    <a href="..." clrDropdownItem>Log out</a>
                </clr-dropdown-menu>
            </clr-dropdown>
        </div>
    </header>
    <div class="content-container flex-container">
        <div class="content-area">
          <router-outlet></router-outlet>
        </div>
    </div>
</div>