.icon {
    color:#588ba9;
}
.flex-container {
    /* display: -webkit-flex; */
    display: flex;
    /* width: 100%; */
    /* -webkit-justify-content: center;
    justify-content: center; */
    align-content:flex-start;
    padding:0.5%;
    flex-flow: row wrap;
    max-width: 1250px;
    /* min-width: 50%;  */
    margin: auto;
}

@media only screen and (min-width: 900px) {
    .flex-container {
        min-width: 70%; 
        /* background-color: red; */
    }
}

@media only screen and (max-width: 900px) {
    /* min-width: calc((100%-46.25em)/2);  */
    .flex-container {
        min-width: 90%; 
        /* background-color: blue; */
    }
}



