.icon {
    color:#588ba9;
}
.flex-container {
    /* display: -webkit-flex; */
    display: flex;
    /* width: 100%; */
    /* -webkit-justify-content: center;
    justify-content: center; */
    align-content:flex-start;
    padding:0.5%;
    flex-flow: row wrap;
    max-width: 1250px;
    margin: auto;
}