<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-4">
    <div class="card">
      <div class="card-header">Completed simulations</div>
      <div class="card-body">
        <div class="card-deck">
          <div *ngFor="let job of jobs" class='card-jobs container-fluid'>
            <div *ngIf="job.status=='Complete'">
              <jobSummary [summary]="job" [type]='Dashboard' (jobDeleted)="deleteJob($event)"></jobSummary>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-12 col-md-12 col-lg-4">
    <div class="card">
      <div class="card-header">Running simulations</div>
      <div class="card-body">
        <div class="card-deck">
          <div *ngFor="let job of jobs" class='card-jobs container-fluid'>
            <div *ngIf="job.status=='Queued' || job.status=='Running' ">
              <jobSummary [summary]="job" [type]='Dashboard' (jobDeleted)="deleteJob($event)"></jobSummary>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-12 col-md-12 col-lg-4">
    <div class="card">
      <div class="card-header">Draft simulations</div>
      <div class="card-body">
        <div class="card-deck">
          <div *ngFor="let job of jobs" class='card-jobs container-fluid'>
            <div *ngIf="job.status=='Draft'">
              <jobSummary [summary]="job" [type]='Dashboard' (jobDeleted)="deleteJob($event)"></jobSummary>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
