
<div class="row flex-items-lg-between flex-items-med-between flex-items-sm-between flex-items-xs-between">
  <div class="col-lg-3 col-med-3 col-sm-12 col-xs-12">
      <div class="btn-group">
          <div class="radio btn">
              <input type="radio" name="btn-group-view-radios" id="btn-tableview" checked=tableView (click)="toggleView()">
              <label for="btn-tableview"><clr-icon shape="view-list"></clr-icon></label>
          </div>
          <div class="radio btn">
              <input type="radio" name="btn-group-view-radios" id="btn-cardview" checked=cardView (click)="toggleView()">
              <label for="btn-cardview"><clr-icon shape="grid-view"></clr-icon></label>
          </div>
      </div>
  </div>
  <div class="col-lg-4 col-med-3 col-sm-12 col-xs-12">
      <div class="form-group">
          <label><clr-icon shape="search"></clr-icon></label>
          <label for="searchTerm">
              <input type="text" id="searchTerm" disabled>
          </label>
      </div>
  </div> 
</div> 

<div class="row" *ngIf="cardView">
  <div class="col-lg col-med col-sm col-xs">
    <div class="card">
      <div class="category-header card-header">Complete <span class="badge badge-success">{{numCompleteJobs}}</span></div>
      <div class="card-block">
        <div *ngFor="let job of jobs" class='card-jobs container-fluid'>
          <div *ngIf="job.info.status=='Complete'">
            <jobSummary [jobInfo]="job.info" [progressInfo]="job.progress" 
              (jobDeleted)="deleteJob($event)">
            </jobSummary>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg col-med col-sm col-xs">
    <div class="card">
      <div class="category-header card-header">Running <span class="badge badge-info">{{numRunningJobs}}</span></div>
      <div class="card-block">    
        <div *ngFor="let job of jobs">
          <div *ngIf="job.info.status=='Queued' || job.info.status=='Running' ">
            <jobSummary [jobInfo]="job.info" [progressInfo]="job.progress" 
                        (jobDeleted)="deleteJob($event)" 
                        (jobStopped)="cancelJob($event)">
            </jobSummary>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg col-med col-sm col-xs">
    <div class="card">
      <div class="category-header card-header">Draft <span class="badge">{{numDraftJobs}}</span></div>
      <div class="card-block">
          <div *ngFor="let job of jobs">
            <div *ngIf="job.info.status=='Draft'">
              <jobSummary [jobInfo]="job.info" [progressInfo]="job.progress" 
                          (jobDeleted)="deleteJob($event)"
              ></jobSummary>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>

<div class="row" *ngIf="tableView">
  <div class="col-lg col-med col-sm col-xs">
    <clr-datagrid>
        <clr-dg-column>Name</clr-dg-column>
        <clr-dg-column>Status</clr-dg-column>
        <clr-dg-column>Created</clr-dg-column>
        <clr-dg-column>Action</clr-dg-column>
    
        <clr-dg-row *ngFor="let job of jobs">
            <clr-dg-cell>{{job.info.name}}</clr-dg-cell>
            <clr-dg-cell>{{job.info.status}}</clr-dg-cell>
            <clr-dg-cell>{{job.info.creation_datetime}}</clr-dg-cell>
            <clr-dg-cell></clr-dg-cell>
        </clr-dg-row>
    
        <clr-dg-footer>{{jobs.length}} users</clr-dg-footer>
    </clr-datagrid>   
  </div> 
</div>
  

<div class="row flex-items-lg-center">
  <div *ngIf="jobsStillLoading">
    <div class="col-lg col-med col-sm col-xs"></div>
      <span class="spinner">
      </span>
      <p>Loading</p>
  </div>
</div>

