.alert-delete-text {
  padding-top: 1vh;
}

.alert-delete-box {
  padding-top: 1.5vh;
}

.form-group.form-filter {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-left: 1rem;
}

.row.subnav p{
  color: #2b4656;
}

.radio.btn input[type=radio]:checked+label{
  background-color:  #2b4656;
  color: white;
  border:none;
  border-color: #2b4656;
}

.radio.btn label{
  background-color: white;
  color: #2b4656;
  border:none;
  border-color: #2b4656;
}

.radio.btn{
  border-color: #2b4656;
}

.subnav {
  height:2.0rem;
}

.searchTerm {
  margin-right:1.5rem;
  float:right
}