
<clr-modal [(clrModalOpen)]="showConfirmDelete">
    <h3 class="modal-title">Delete File</h3>
    <div class="modal-body">
        <div class="alert alert-danger">
            <div class="alert-items">
                <div class="alert-item static">
                    <div class="alert-icon-wrapper">
                        <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
                    </div>
                    <span class="alert-text">You are going to delete {{selectedJobs.length}} job.</span>
                </div>
            </div>
        </div>
        <p>Are you sure you want to delete 
          <b>
            <ul *ngFor="let job of selectedJobs">
                <li>{{job.info.name}}</li>
              </ul>  
          </b>
        </p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-outline" (click)="cancelDeleteJob()" >Cancel</button>
        <button class="btn btn-warning" (click)="confirmedDeleteJob()">Delete</button>
    </div>
</clr-modal>

<div class="row flex-items-lg-between flex-items-med-between flex-items-sm-between flex-items-xs-between"> 
    <div class="col-lg-3 col-med-3 col-sm-3 col-xs-12">
        <div class="btn-group">
            <div class="radio btn">
                <input type="radio" name="btn-group-view-radios" id="btn-tableview" checked=tableView (click)="toggleView('table')">
                <label for="btn-tableview"><clr-icon shape="view-list"></clr-icon></label>
            </div>
            <div class="radio btn">
                <input type="radio" name="btn-group-view-radios" id="btn-cardview" checked=cardView (click)="toggleView('card')">
                <label for="btn-cardview"><clr-icon shape="view-cards"></clr-icon></label>
            </div>
        </div>
    </div>
    
    <div class="searchgroup col-lg-4 col-med-4 col-sm-4 col-xs-12">
      <div class="form-group">
          <label><clr-icon shape="search"></clr-icon></label>
          <label for="searchTerm">
              <input type="text" id="searchTerm" 
              [(ngModel)]="searchTerm" name="searchTerm"
              (keyup)="filterJobs()">
          </label>
      </div>    
    </div> 
    
  </div> 

<div class="row" *ngIf="cardView">
  <div *ngFor="let job of filteredJobs">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <jobSummary [jobInfo]="job.info" [progressInfo]="job.progress" 
        (jobDeleted)="deleteJob($event)">
      </jobSummary>
    </div>
  </div>
</div>

<div class="row alert-delete-box" *ngIf="tableView">
  <div class="col-lg col-med col-sm col-xs">
    <div class="alert alert-info">
      <div class="alert-items">
        <div class="alert-item static">
          <div class="alert-icon-wrapper alert-delete-text">
            <clr-icon class="alert-icon" shape="check-circle"></clr-icon>
          </div>
          <span class="alert-text alert-delete-text">You have selected {{selectedJobs.length}} jobs</span>
          <div class="alert-actions">
            <button type="button" class="btn btn-link btn-sm" aria-label="Close" (click)="deleteJobs()">
              <clr-icon aria-hidden="true" shape="trash"></clr-icon> Delete
            </button>
          </div>
        </div>
      </div>
      <button type="button" class="close alert-delete-text" aria-label="Close" (click)="clearSelectedJobs()">
        <clr-icon aria-hidden="true" shape="close"></clr-icon>
      </button>
    </div>
  </div>
</div>

<div class="row" *ngIf="tableView">
  <div class="col-lg col-med col-sm col-xs">
    <clr-datagrid  [(clrDgSelected)]="selectedJobs">
      <clr-dg-column>Name</clr-dg-column>
      <clr-dg-column>Status</clr-dg-column>
      <clr-dg-column>Created</clr-dg-column>
      <clr-dg-row *clrDgItems="let job of filteredJobs" [clrDgItem]="job">
        <clr-dg-cell>
          <a *ngIf="job.info.status=='Complete'"
            [routerLink]="['/output/output']" 
            routerLinkActive="active" 
            (click)="storeJobId(job.info)">{{job.info.name}}
          </a>
          <a *ngIf="job.info.status=='Not Started'"
            [routerLink]="['/config/config']" 
            routerLinkActive="active" 
            (click)="storeJobId(job.info)">{{job.info.name}}
          </a>
        </clr-dg-cell>
        <clr-dg-cell>{{job.info.status}}</clr-dg-cell>
        <clr-dg-cell>{{job.info.creation_datetime | date: 'dd/MM/yyyy'}}</clr-dg-cell>
      </clr-dg-row>
      <clr-dg-footer>{{filteredJobs.length}} jobs</clr-dg-footer>
    </clr-datagrid>   
  </div> 
</div>
    
  <div class="row flex-items-lg-center">
    <div *ngIf="jobsStillLoading">
      <div class="col-lg col-med col-sm col-xs"></div>
        <span class="spinner">
        </span>
        <p>Loading</p>
    </div>
  </div>

