<!-- <div class="card" (click)="setOptionsVisibility()" (mouseover)='setOptionsVisibility()' (mouseleave)='setOptionsVisibility()'> -->
<div class="card" (click)="setOptionsVisibility()" > 
    <div class="card-block">
        <div *ngIf ="stopJobOption" class="progress top">
            <progress value={{progressInfo.value}} max="100"></progress>
        </div>
        <div class="card-media-block">
            <img src={{jobInfo.case.thumbnail}} class="card-media-image">
            <div class="card-media-description">
                <span class="card-media-title">
                    {{jobInfo.name}}
                </span>
                <span class="card-media-text job-progress-footer">
                    {{jobTemporalDistanceFromCreation}}
                </span>
            </div>
        </div>
        <p class="card-text">
            {{jobShortDescription}}
        </p> 
    </div>
    
    <div class="job-footer card-footer">

      <button *ngIf = "routeToOutput" [hidden]="hideOptions" 
        type="button" class="btn btn-link" 
        (click)="storeJobId('Output')" 
        [routerLink]="['/output/output']" routerLinkActive="active">
        <span class="actionText">{{actionButtonText}}</span>
      </button>

      <button *ngIf = "routeToConfig" [hidden]="hideOptions" 
              type="button" class="btn btn-link"
              (click)="storeJobId('Edit')" 
              [routerLink]="['/config/config']" routerLinkActive="active">
        <span class="actionText">{{actionButtonText}}</span>
      </button>
  
      <button *ngIf ="stopJobOption" [hidden]="hideOptions" 
            type="button" class="btn btn-outline" 
            (click)="stopJob()">Stop</button>

      <button type="button" class="btn btn-outline btn-hover" [hidden]="hideOptions" 
              (click)="deleteJob()">Delete</button>
    </div>
</div>

    
