.job-footer{
    background-color:#edeff1; 
}

.job-progress-footer {
    font-style: italic;
    color: #2b4656;
}

.card.clickable {
    width: 100%;
}

/* text within cards*/
.card-body {
    margin:1em;
}

.badge-draft {
    color: #f8cb00;
}

.badge-running {
    color: #20a8d8;
}

.badge-error {

    color: #f86c6b;
}

.badge-complete {

    color: #4dbd74;

}

.badge-queued{

    color: black;
}

.wrapper {
   position: relative;
   background-color: white;
}

.wrapper i {
   position: absolute;
   top: 50%;
   left: 50%;
}

.job-image {
    max-width:5rem;
    width:5rem;
    max-height:5rem;
    height:5rem;
    padding-right: 1rem;
}

.descriptionText, a:focus, a:hover {
    color: #263238;
    text-decoration: none;
}

.break-word {
    word-wrap: break-word;
}

.bg-job-success {
    color: white;
    background-color: #20a8d8;
}

.job-progress {
    background-color: white;
    display: inline-block;
    width: 100%;
}


.btn.btn-primary.btn-action {
    width: 7em;
    margin: 0.25em;
}


.btn-outline-primary {
  width: 7em;
  margin: 0.25em;
}

.job-card {
	padding: 1rem;
}

.action-row {
	padding-top: 1rem;
}