
<div class="job-card">
	<div class="row">
		<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3"> 
			<img src={{jobInfo.case.thumbnail}} class="job-image">
		</div> 	
		<div class="col-lg-9 col-md-9 col-sm-9 col-xs-9"> 
			<div class="row">	
				<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8"> 
					<a *ngIf = "routeToOutput" 
						routerLinkActive="active" 
						[routerLink]="['/output/output']" 
						(click)="storeJobId('Output')" 
						class="nav-link">
							<span class="nav-text">{{jobInfo?.name}} </span>
					</a>
					<a *ngIf = "routeToConfig" 
						routerLinkActive="active" 
						[routerLink]="['/config/config']" 
						(click)="storeJobId('Edit')"
						class="nav-link">
							<span class="nav-text">{{jobInfo?.name}} </span>
					</a>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"> 
					<div class="progress demo" style="float:right">
							<progress value={{progressInfo.value}} max="100"></progress>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"> 
				based on {{jobInfo?.case.name}}	
				</div>
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" > 
					<div style="float:right">{{jobInfo?.status}}</div>
				</div>	
			</div>	

			<div class="row action-row">
					<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12"> 
							<div class="job-description">{{jobShortDescription}}</div>
						</div>
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"> 
					<div style="float:right">
						<button style="float:right"
						  *ngIf = "routeToOutput"
							type="button" class="btn btn-outline btn-sm"
							(click)="storeJobId('Output')"
							[routerLink]="['/output/output']" routerLinkActive="active">
							<span class="actionText">{{actionButtonText}}</span>
						</button>
						<button style="float:right"
								*ngIf = "routeToConfig" 
										type="button" class="btn btn-outline btn-sm" 
										(click)="storeJobId('Edit')"
										[routerLink]="['/config/config']" routerLinkActive="active">
							<span class="actionText">{{actionButtonText}}</span>
						</button>
						<button style="float:right"
							*ngIf ="stopJobOption" 
										[hidden]=hideOptions
										type="button" class="btn btn-outline btn-sm"
										(click)="stopJob()">Stop</button>
				
						<button style="float:right"
						type="button" 
						class="btn btn-outline btn-hover btn-sm" 
											(click)="deleteJob()">Delete</button>
					</div>
				</div>
			</div>	
		</div> 	
	</div>
</div>
<hr>

<!--
<div class="card clickable" (click)='setOptionsHidden()'>
    <div class="card-block">
      <div *ngIf ="stopJobOption" class="progress top">
          <progress value={{progressInfo.value}} max="100"></progress>
      </div>
      <div class="card-media-block">
          <img src={{jobInfo.case.thumbnail}} class="card-media-image job-image">
          <div class="card-media-description">
              <div class="card-media-title">
								<div class="row">
										<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">  
											<a *ngIf = "routeToOutput" 
												routerLinkActive="active" 
												[routerLink]="['/output/output']" 
												(click)="storeJobId('Output')" 
												class="nav-link">
													<span class="nav-text">{{jobInfo.name}} </span>
											</a>
											<a *ngIf = "routeToConfig" 
												routerLinkActive="active" 
												[routerLink]="['/config/config']" 
												(click)="storeJobId('Edit')"
												class="nav-link">
													<span class="nav-text">{{jobInfo.name}} </span>
											</a>
										</div>
										<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3"> 
											<p class="p4">created on xx/xx/xxxx</p>
										</div>
										<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">  
											<div class="progress demo">
												<progress max="100" value="0" data-displayval="0%"></progress>
											</div>
										</div>
								</div>
							</div>
              <span class="card-media-text ">
								<div class="row">
									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">  
										<p class="p4">based on 
											<a *ngIf = "routeToOutput" 
												routerLinkActive="active" 
												[routerLink]="['/output/output']" 
												(click)="storeJobId('Output')" 
												class="nav-link"><span class="nav-text">{{jobInfo.name}}</span>
											</a>
											<a *ngIf = "routeToConfig" 
												routerLinkActive="active" 
												[routerLink]="['/config/config']" 
												(click)="storeJobId('Edit')"
												class="nav-link"><span class="nav-text">{{jobInfo.name}}</span>
											</a>
										</p>
									</div>
									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">  
											<div class="progress demo">
												<progress max="100" value="0" data-displayval="0%"></progress>
											</div>
									</div>
								</div>
              </span>
          </div>
      </div>  
  </div>

  <div class="job-footer card-footer">
    
    <clr-icon shape="caret down" [hidden]=!hideOptions></clr-icon>
    <p class="card-text" [hidden]=hideOptions>
        {{jobShortDescription}}
    </p>
			<!-- <button class="btn btn-sm btn-link">Action</button> -->
		<!--
    <button *ngIf = "routeToOutput"
      type="button" class="btn btn-link btn-sm" [hidden]="hideOptions"
      (click)="storeJobId('Output')"
      [routerLink]="['/output/output']" routerLinkActive="active">
      <span class="actionText">{{actionButtonText}}</span>
    </button>

    <button *ngIf = "routeToConfig"
            type="button" class="btn btn-link btn-sm" [hidden]=hideOptions
            (click)="storeJobId('Edit')"
            [routerLink]="['/config/config']" routerLinkActive="active">
      <span class="actionText">{{actionButtonText}}</span>
    </button>

    <button *ngIf ="stopJobOption" [hidden]=hideOptions
            type="button" class="btn btn-outline btn-sm"
            (click)="stopJob()">Stop</button>

    <button type="button" class="btn btn-outline btn-hover btn-sm" [hidden]=hideOptions
              (click)="deleteJob()">Delete</button>
  </div>
</div>
-->

