.card-job {
    margin:2% 2% 2% 2%;
    width: 18rem;
}

.card-outline-running {
    background-color: transparent;
    /*border-color: #cfd8dc;*/
}

.card-outline-error {
    background-color: transparent;
}

.card-outline-complete {
    background-color: transparent;
}

.card-header-running {
    color: white;
    background-color: #4dbd74;
    font-size: medium;
}

.card-header-error {
    /*border-bottom: 1px solid #a94442;*/
    color: white;
    background-color: #f86c6b;
    font-size: medium;
}

.card-header-complete {
    /*border-bottom: 1px solid #263238;*/
    background-color: #20a8d8;
    color: white;
    font-size: medium;
}

.card-header-draft {
    /*border-bottom: 1px solid #263238;*/
    background-color: #f8cb00;
    color: white;
    font-size: medium;
}

.wrapper {
   position: relative;
   background-color: white;
}

.wrapper i {
   position: absolute;
   top: 50%;
   left: 50%;
}

.img-job {
    vertical-align: middle;
    max-width:15rem;
    max-height:15rem;
    left:2.5rem;
    position: relative;
}

