
  .job-image {
    max-width:5rem;
    width:5rem;
    max-height:5rem;
    height:5rem;
}

.card-block {
    padding:1rem;
}
.category-header{
    background-color:#edeff1; 
    border-bottom: 1px solid #cfd8dc;
  }


