
.card-block-container {
    padding: 0%;
}

.actionText {
    font: medium;
}

.card-header.config:hover {
  background-color: hsla(198,36%,75%,1);
}

.card-header.config {
  background-color: #cfd8dc;
}

.img-config {
     max-width: 5rem;
    vertical-align: top;
    margin-bottom: 1rem;
}

.case-panel {
    vertical-align: top;
}

.invalidValue {
    color:red
}

