<div class="container-fluid">
  <div class="row case-panel">
      <div class="col-md-4"><img src={{case.thumbnail}}  class="img-thumbnail"></div>  
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-12">
            <h4>  {{case.label}}</h4>
            <p>  {{case.description}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-9 col-md-push-3">
            <button type="button" class="btn btn-primary" (click)="initNewJob()">
              <i class="fa fa-file-text-o"> New</i>
              </button>
            <button type="button" class="btn btn-primary">
              <i class="fa fa-floppy-o"> Save</i></button>
            <button type="button" class="btn btn-primary">
              <i class="fa fa-rocket"> Submit Job</i></button>
          </div>
        </div> 
    </div> 
  </div>
  
  <div class="row">
    <div class="col-md-12">
          <div [attr.id]="componentFamilyAccordion" role="tablist">
            <div *ngFor="let tag of tags" class="card">
              <div class="card-header" role="tab">
                <h5 class="mb-0">
                  <a data-toggle="collapse" data-target={{getDataTarget(tag)}} data-parent="#componentFamilyAccordion" (click)="toggleCollapse(tag)">
                    {{tag.label}}
                  </a>
                </h5>
              </div>
              <div [attr.id]=tag.name [ngClass]="{'collapse': tag.collapse }"role="tabpanel">
                <div class="card-block">
                  <div *ngFor="let component of getVisibleComponents(tag)">

                    <div *ngIf="component.type == 'text'">
                      <label [for]=component.name>{{component.label}}</label>
                      <div class="input-group">
                        <input
                          [(ngModel)]="component.value"
                          [attr.id]="component.name"
                          type="text"
                          (keyup.enter)="update(component)"
                          (blur)="update(component)"
                          [disabled]="component.disabled">
                        <span class="input-group-addon">{{component.units}}</span>
                      </div>
                    </div>

                    <div *ngIf="component.type == 'radio'">
                      <label class="switch switch-3d switch-danger">
                        <input type="checkbox" class="switch-input" [ngModel] = "component.value" (ngModelChange)="update(component)">
                        <span class="switch-label"></span>
                        <span class="switch-handle"></span>
                      </label>
                      {{component.units}}
                    </div>

                    <div *ngIf="component.type == 'slider'">
                      <label [for]=component.name>{{component.label}}</label>
                      <ion-range-slider
                        [attr.id]=component.name
                        from={{component.value}}
                        min={{component.min_value}}
                        max={{component.max_value}}
                        postfix=" {{component.units}}"
                        data-step=0.01
                        (onFinish)="updateSlider(component, $event)">
                      </ion-range-slider>
                    </div>

                     <div *ngIf="component.type == 'vtk_slider'">
                      <label [for]=component.name>{{component.label}}</label>
                      <ion-range-slider
                        [attr.id]=component.name
                        from={{component.value}}
                        min={{component.min_value}}
                        max={{component.max_value}}
                        postfix=" {{component.units}}"
                        data-step=0.01
                        (onFinish)="updateSlider(component, $event)">
                      </ion-range-slider>
                      <app-vtk [anInput]=component.value></app-vtk>

                    </div>  
                  </div>
                </div>
              </div>
            </div>
          </div>
    </div>
  </div> 
</div>

