
/* .card.card-family {
    margin:20px;
}

.card-header.config:hover {
  background-color: hsla(198,36%,75%,1);
}

.card-header.config {
  background-color: #cfd8dc;
}

.invalidValue {
    color:red
}

.btn.btn-primary.btn-action {
    width: 7em;
    margin:0.25em;
} */

.category-header{
    background-color:#edeff1; 
    border-bottom: 1px solid #cfd8dc;
  }


