<h1 class="display-4">BLUE Account</h1>
<!-- <h4>Demonstration</h4> -->
<!-- <p>November 3, London</p> -->

<div class="container-fluid">
    <div class="row">
    <!-- <div class="row flex-lg-bottom"> -->
        <div class="col-lg-6 col-med-12 col-sm-12 col-xs-12">
            <simulations-allocation [account]="account"></simulations-allocation>
        </div>
        <div class="col-lg-6 col-med-12 col-sm-12 col-xs-12 allocationForm">
            <form>
                <section class="form-block">
                    <label>{{account.id}}</label>
                    <div class="form-group">
                            <label for="aForm_1">User Tally</label>
                            <input type="text" id="aForm_1" size="5" readonly value={{account.userTally}}>
                    </div>
                    <div class="form-group">
                            <label for="aForm_1">User Credit</label>
                            <input type="text" id="aForm_1" size="5" readonly value={{account.userCredit}}>
                    </div>
                    <div class="form-group">
                            <label for="aForm_1">Organisation Tally</label>
                            <input type="text" id="aForm_1" size="5" readonly value={{account.organisationTally}}>
                    </div>
                    <div class="form-group">
                            <label for="aForm_1">Organisation Credit</label>
                            <input type="text" id="aForm_1" size="5" readonly value={{account.organisationCredit}}>
                    </div>
                </section>
            </form>
        </div>

    </div>

    <!-- <button type="button" (click)="decrementCounter()">decrementCounter</button> -->
    <button type="button" (click)="checkCounter()">checkCounter</button>

</div>
