<h1 class="display-4">BLUE Account</h1>

<div class="container-fluid">
    <div class="row">

        <div class="col-lg-6 col-med-12 col-sm-12 col-xs-12">
          <h2>Your usage</h2>
          <!-- tally = {{userData.tally}}, credit = {{userData.credit}} -->
          <counter-chart *ngIf="dataLoaded" [data]="userData"></counter-chart>
        </div>

        <div class="col-lg-6 col-med-12 col-sm-12 col-xs-12">
          <h2>Organisation usage</h2>
          <!-- tally = {{organisationData.tally}}, credit = {{organisationData.credit}} -->
          <counter-chart *ngIf="dataLoaded" [data]="organisationData"></counter-chart>
        </div>

    </div>

</div>
